<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>{{msg}}</h1>
      <my-con @send-value="getValue($event)" :title="msg"></my-con>
    </div>
    <script src="./lib/vue_2.5.22.js"></script>
    <script>
      Vue.component("my-con", {
        props: ["title"],
        template: `
                <input type="text" :value="title" @input="handle">
            `,
        methods: {
          handle(e) {
            this.$emit("send-value", e.target.value);
          }
        }
      });

      const vm = new Vue({
        el: "#app",
        data: {
          msg: "hello"
        },
        methods: {
          getValue(val) {
            this.msg = val;
          }
        }
      });
    </script>
  </body>
</html>
